version: 2.1
jobs:
  test:
    docker:
      - image: rust:latest
    steps:
      - checkout
      - run: cargo test
  fmt:
    docker:
      - image: rust:latest
    steps:
      - checkout
      - run: rustup component add rustfmt
      - run: cargo fmt -- --check
workflows:
  main:
    jobs:
      - test
      - fmt
