version: 2.1
jobs:
  test:
    docker:
      - image: rust:latest
    steps:
      - checkout
      - run: cargo test
  fmt:
    docker:
      - image: rust:latest
    steps:
      - checkout
      - run: rustup component add rustfmt
      - run: cargo fmt -- --check
  rpm:
    docker:
      - image: b1zzu/sic:fedora-rpmbuild-rust
    steps:
      - checkout
      - run: cargo rpm build
workflows:
  verify:
    jobs:
      - test
      - fmt
  build:
    jobs:
      - rpm