version: 2.1
jobs:
  test:
    docker:
      - image: rust:latest
    steps:
      - checkout
      - run: cargo test
  fmt:
    docker:
      - image: rust:latest
    steps:
      - checkout
      - run: rustup component add rustfmt
      - run: cargo fmt -- --check
  rpm:
    docker:
      - image: b1zzu/sic:fedora-rpmbuild-rust
    steps:
      - checkout
      - run:
          command: |
            cargo build
            cargo rpm build
      - persist_to_workspace:
          root: target/release/rpmbuild/RPMS/x86_64/
          paths:
            - sic-*.x86_64.rpm
  release:
    docker:
      - image: b1zzu/sic:ghr
    steps:
      - attach_workspace:
          at: ./artifacts
      - run: ls -al ./artifacts
workflows:
  main:
    jobs:
      - test
      - fmt
      - rpm:
          requires:
            - fmt
            - test
#          filters:
#            tags:
#              only: /^\d+\.\d+\.\d+$/
      - release:
          requires:
            - rpm
#          filters:
#            tags:
#              only: /^\d+\.\d+\.\d+$/
